[user]
    name = Adam Litton
    email = adamnationx@gmail.com

[core]
    editor = code --wait --disable-extensions
    autocrlf = true

[alias]
    s         = status -sb
    co        = checkout
    d         = diff
    dn        = diff --name-status
    amend     = commit --amend
    unstage   = reset HEAD --

    # logs
    l         = log
    lg        = log --color --graph --abbrev-commit
    lga       = !git lg --all
    lgs       = !git lga --status
    lgp       = !git lga -p
    in        = !git lga ..FETCH_HEAD
    incoming  = !git fetch; !git in
    unpushed  = !git lga --branches --not --remotes=origin

    conflicts = diff --name-only --diff-filter=U

    # show list of contributors in descending order by number of commits
    rank      = shortlog -sn --no-merges

    # list all aliases
    la        = !git config -l | grep alias | cut -c 7-

[log]
    decorate = auto

[format]
    pretty = %Cred%h%Creset -%C(yellow)%d%N%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset

[push]
    # git push will push only the current branch to the one that git pull would pull from, and also checks that their names match.
    default = simple
